1. Buatlah program untuk menghitung pangkat 2 dari angka 1 hingga 50!

In [6]:
for i in range(1, 51):
    print(f"{i} pangkat 2 adalah {i**2}")

1 pangkat 2 adalah 1
2 pangkat 2 adalah 4
3 pangkat 2 adalah 9
4 pangkat 2 adalah 16
5 pangkat 2 adalah 25
6 pangkat 2 adalah 36
7 pangkat 2 adalah 49
8 pangkat 2 adalah 64
9 pangkat 2 adalah 81
10 pangkat 2 adalah 100
11 pangkat 2 adalah 121
12 pangkat 2 adalah 144
13 pangkat 2 adalah 169
14 pangkat 2 adalah 196
15 pangkat 2 adalah 225
16 pangkat 2 adalah 256
17 pangkat 2 adalah 289
18 pangkat 2 adalah 324
19 pangkat 2 adalah 361
20 pangkat 2 adalah 400
21 pangkat 2 adalah 441
22 pangkat 2 adalah 484
23 pangkat 2 adalah 529
24 pangkat 2 adalah 576
25 pangkat 2 adalah 625
26 pangkat 2 adalah 676
27 pangkat 2 adalah 729
28 pangkat 2 adalah 784
29 pangkat 2 adalah 841
30 pangkat 2 adalah 900
31 pangkat 2 adalah 961
32 pangkat 2 adalah 1024
33 pangkat 2 adalah 1089
34 pangkat 2 adalah 1156
35 pangkat 2 adalah 1225
36 pangkat 2 adalah 1296
37 pangkat 2 adalah 1369
38 pangkat 2 adalah 1444
39 pangkat 2 adalah 1521
40 pangkat 2 adalah 1600
41 pangkat 2 adalah 1681
42 pangkat 2 adalah 1764
43 pangkat 2 adalah 1849
44 pangkat 2 adalah 1936
45 pangkat 2 adalah 2025
46 pangkat 2 adalah 2116
47 pangkat 2 adalah 2209
48 pangkat 2 adalah 2304
49 pangkat 2 adalah 2401
50 pangkat 2 adalah 2500

2. Buatlah sebuah list yang berisi daftar nama mahasiswa angkatan kalian minimal sejumlah 10 nama. Kemudian buat program pencarian menggunakan pengulangan, di mana apabila nama yang user inputkan sudah sesuai dengan isi list maka program akan berhenti dan menampilkan output "Pencarian anda sudah berakhir"

# membuat list nama mahasiswa
mahasiswa = ["Andi", "Budi", "Citra", "Dewi", "Eka", "Fani", "Gita", "Hani", "Indra", "Jaka"]

# input nama yang akan dicari
nama_cari = input("Masukkan nama yang ingin dicari: ")

# melakukan pencarian
found = False
for nama in mahasiswa:
    if nama == nama_cari:
        found = True
        break

# menampilkan hasil pencarian
if found:
    print("Pencarian anda sudah berakhir.")
else:
    print("Nama yang anda cari tidak ditemukan.")

catatan: perhatikan user dapat menginputkan menggunakan baik huruf kapital maupun tidak

3. Disajikan list sebagai berikut

In [7]:
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

Robert adalah seorang penyanyi terkenal. Dia merencanakan konser world tour di tahun 2024 mendatang di berbagai negara. Dengan catatan pada bulan April dan Mei, Robert kembali ke indonesia untuk istirahat sejenak kemudian melanjutkan lagi konser. Berdasarkan kasus tersebut buatlah program pengulangannya!